@{
	ViewBag.Title = "Home Page";
}
<div class="row">
	<div class="col-md-12">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Number of floors</th>
					<th>Year of construction</th>
					<th>City</th>
					<th>ZipCode</th>
					<th>Address</th>
					<th>Image</th>
					<th>Tenant list</th>
				</tr>
			</thead>
		</table>
	</div>
</div>